.main-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 60px;
    /* background-color: #1f2235; */
    background-color: #203850;
    font-family: 'Oswald', sans-serif;
  }

  .info-section {
    display: flex;
    flex-direction: row;
    /* margin-top: 70px; */
    justify-content: space-between;
    gap: 40px;
    font-size: 25px;
  }

  .info-subsection{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    flex: 50%;
    align-items: center;
  }


  .info-subsection h1{
color: #fb4d5a;
font-size: 40px;
  }

  .welcome{
    margin-bottom: 5px;
    color: #fb4d5a;
font-size: 60px;
  }

  .info-subsection h2{
    color: white;
    font-size: 30px;
      }

      .info-subsection p{
        color: white;
          }

  .info-subsection button {
    width: 250px;
    border: 1px solid #fb4d5a;
    color: hsla(0,0%,100%,1);
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fb4d5a;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
  }

  .front-page-picture{
    margin-top: 50px;
     box-shadow: 0 0 0.25em  rgba(67,71,85,0.27), 2px 0.25em 24px 0 rgba(90,125,188,0.05); 
    /* height: 200px;
    width: 200px */
    height: auto;
    width: 70%;
    border-radius: 30px;
    
  }

  .skills-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills-section h1 {
    color: #fb4d5a;
font-size: 40px;
  }

  .skills-section p {
    color: white;
    font-size: 25px;
  }

  .skill-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Distribute icons evenly */
    /* flex-wrap: wrap; */
  }


  .skill-icons i{
    /* font-size: 75px;
    padding: 10px 10px 10px 10px;
    margin-top: 40px;
    margin-bottom: 40px; */
    font-size: 4rem; /* Adjust the relative font size using rem or em */
    padding: 1rem; /* Adjust padding using relative units */
    margin: 1rem 0; /* Adjust margin using relative units */
    text-align: center;
   }


  .outdoor-icons {
    margin-top: 10px;
  }

     /* Media query for smaller screens */
  @media (max-width: 768px) {
    .info-section {
      flex:100%;
      flex-direction: column;
      background-color: #203850;
      max-width: 100%;
    }

    .info-subsection img {
      max-width: 100%;
      height: auto; 
    }

    .skill-icons {
      flex-wrap: wrap;
    }

    .skill-icons i{
      /* font-size: 75px;
      padding: 10px 10px 10px 10px;
      margin-top: 40px;
      margin-bottom: 40px; */
      font-size: 2rem; /* Adjust the relative font size using rem or em */
      padding: 1rem; /* Adjust padding using relative units */
      margin: 1rem 0; /* Adjust margin using relative units */
      text-align: center;
     }

    
  
    .info-subsection {
      flex-basis: 100%;
      background-color: #203850;
    }

    .skill-icons-lg {
      display: flex;
    }

    .skill-icons-sm {
      display: flex;
    }

    .main-page {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin-right: 60px;
      margin-left: 60px;
      margin-top: 60px;
      /* background-color: #1f2235; */
      background-color: #203850;
      font-family: 'Oswald', sans-serif;


    }
  }
   
  
  