.navbar {
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1f2235;
    padding: 10px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo img {
    height: 70px;
    color: #fb4d5a;
  }
  
  .navbar-container{
    display: flex;
    margin-right: 40px;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
  }
  
  .navbar-links li {
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: white;
    list-style: none;
  }

  /* .hamburger {
    // removes default border on button element
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  // positions the icon to the right and center aligns it vertically
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }
  .hamburger:hover {
    background-color: #2642af;
  }
  
  
   */