.contact-item {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .contact-icon {
    height: 30px;
    width: 30px;
    padding: 10px 10px 10px 10px;
    color: #fb4d5a;
  }

  .footer h2, h1{
    color: white;
  }
  
  .footer {
    background-color: #203850;
    font-family: 'PT Sans', sans-serif;
  }