.App {
  text-align: center;
  background-color: #203850;
  min-height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

