.App {
  text-align: center;
  background-color: #1f2235;
  min-height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

